{% extends 'base.html' %}

{% block content_header %}
  <h2>Modification du mot de passe de l'utilisateur "{{ user_edit.username }}"</h2>
{% endblock content_header %}

{% block content %}
<form action="{% url change_password user_edit.id %}" method="POST">
  <input type="hidden" name="_method" value="PUT" />
  
  {% with password_form as form %}
    {% for field in form %}{% include "form_fields.html" %}{% endfor %}
  {% endwith %}
  
  <input type="submit" value="Mettre à jour" />
</form>
{% endblock %}
