{% extends 'base.html' %}

{% block content_header %}<h2>Utilisateurs</h2>{% endblock content_header %}

{% block content %}
<table class="list">
  <thead>
    <th>Identifiant</th>
    <th>Nom réel</th>
    <th>E-mail</th>
    <th class="last">Actions</th>
  </thead>
  <tbody>
    {% for user in users %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name|default:"-" }}</td>
        <td>{{ user.email|default:"-" }}</td>
        
        {% with user.get_profile.cv as cv %}
          <td>
            {% if cv %}
              {% if cv.pdf %}
                <a href="{{ cv.pdf.url }}" class="pdf">Voir pdf</a>
                {% if cv.is_valid %}
                  <a href="{% url cv_toggle_valid cv.id %}" class="exclamation">Invalider CV</a>
                {% else %}
                  <a href="{% url cv_toggle_valid cv.id %}" class="accept">Valider CV</a>
                {% endif %}
              {% endif %}
            {% endif %}
            <a href="{% url user_edit user.id %}" class="edit">Editer</a>
            <a href="{% url change_password user.id %}" class="key">Modifier mot de passe</a>
            <a href="{% url user_delete user.id %}" class="cross confirm">Supprimer</a>
          </td>
        {% endwith %}
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url user_new %}">Ajouter</a>

{% endblock content %}
