{% extends 'base.html' %}

{% block content_header %}<h2>Utilisateurs</h2>{% endblock content_header %}

{% block content %}
<table class="list">
  <thead>
    <th>Identifiant</th>
    <th>Nom réel</th>
    <th>E-mail</th>
    <th>CV</th>
    <th class="last">Actions</th>
  </thead>
  <tbody>
    {% for user in users %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td>{{ user.username }}</td>
        <td>{{ user.get_full_name|default:"-" }}</td>
        <td>{{ user.email|default:"-" }}</td>
        <td>
          {% if user.get_profile.cv %}
            <a href="{{ user.get_profile.cv.get_absolute_url }}">Voir fiche</a>
            {% if user.get_profile.cv.pdf %}
              - <a href="{{ user.get_profile.cv.pdf.url }}">Voir pdf</a>
            {% endif %}
          {% else %}-
          {% endif %}
        </td>
        <td>
          {% if user.get_profile.cv %}
            <a href="{% url cv_toggle_valid user.get_profile.cv.id %}">
              {% if user.get_profile.cv.is_valid %}Invalider CV{% else %}Valider CV{% endif %}</a> |
          {% endif %}
          <a href="{% url user_edit user.id %}">éditer</a> |
          <a href="{% url change_password user.id %}">modifier mot de passe</a> |
          <a href="{% url user_delete user.id %}" class="confirm">supprimer</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url user_new %}">Ajouter</a>

{% endblock content %}
